body {
  margin: 50px 200px 50px 200px;
  font-family: 'Roboto Condensed', sans-serif;
}

.h1-back-image {
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  color: white;
  font-size: 70px;
  text-align: center;
  padding: 350px;
}

.header-story {
  width: auto;
  margin: 75px;
  text-align: center;
}

.ingredient-list {
  list-style-type: none;
}

.header-cook-info {
  text-align: center;
}

.h2-format {
}

.directions-list {
  list-style-type: none;
}